/*** Traffic List ***/
.status-container {
    padding-top: 100px;
    text-align: center;
}
.spinner {
    display: inline-block;
    width: 48px;
    height: 48px;
}
.spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid blueviolet;
    border-color: blueviolet transparent blueviolet transparent;
    animation: spinner-rotation 1.3s linear infinite;
}
@keyframes spinner-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*** Traffic Item ***/
.traffic-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 18px;
    background-color: #eff0f4;
}
.traffic-item p {
    margin-top: 12px;
    margin-bottom: 12px;
}
.icon-wrapper img {
    width: 100%;
    height: auto;
}
.traffic-item img {
    max-height: 45px;
    max-width: 45px;
}
.traffic-item .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
}
.west {
    transform: rotate(-72deg);
}
.east {
    transform: rotate(72deg);
}
.badge {
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
}
.code {
    background-color: #4667ab;
}
.no-code {
    background-color: #f59070;
}
.altitude-badge {
    background-color: #15C48A;
}